<h2 class="dashboard-title">Jess's Room</h2>

<div class="dashboard-container">
  <div class="card chart-card">
    <canvas #dashboardChart></canvas>
  </div>

  <div class="card table-card">
    <table>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Temperature (°F)</th>
          <th>Humidity (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jsonData">
          <td>{{ item.timestamp }}</td>
          <td class="temp" [ngClass]="{
            'hot': item.temperature >= 73,
            'cold': item.temperature <= 67
          }">{{ item.temperature }}</td>
          <td>{{ item.humidity }}</td>
        </tr>
     
